#CONSIDERATIONS:
In order to improve the model, one way is to consider only the room_type important for the problem
(entire property).
Considering also 2 numerical variables: bedrooms and accommodates

KNN 
Transformer

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error 
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score

In [2]:
listings_ams_all=pd.read_csv('../data/cleaned/listings_ams_all.csv', index_col=0)

In [3]:
categorical = pd.read_csv('../data/cleaned/categorical.csv', index_col=0)

In [4]:
categorical = categorical[categorical['room_type']==('Entire home/apt')]
categorical.shape

(4774, 18)

In [5]:
listings_ams_all= listings_ams_all[listings_ams_all['room_type']==('Entire home/apt')]
listings_ams_all.shape

(4774, 39)

In [6]:
listings_ams_all.shape

(4774, 39)

In [7]:
num = listings_ams_all.loc[:,['bedrooms', 'accommodates']]

In [8]:
num.shape

(4774, 2)

In [9]:
categorical = pd.merge(categorical, num, left_index=True, right_index=True)

In [10]:
categorical = categorical.drop(['host_identity_verified'], axis=1)

In [11]:
categorical.shape

(4774, 19)

In [12]:
#X-y split
X = categorical.loc[:,['neighbourhood_cleansed','room_type', 'bedrooms', 'accommodates']]
y = listings_ams_all['price']

In [13]:
X_n = X.loc[:,['bedrooms', 'accommodates']]
X_c = X.drop(['bedrooms', 'accommodates'], axis=1)

In [14]:
X_c

       neighbourhood_cleansed        room_type
6                Centrum-Oost  Entire home/apt
7                Centrum-West  Entire home/apt
9                        Zuid  Entire home/apt
10                   Oud-Oost  Entire home/apt
15    De Pijp - Rivierenbuurt  Entire home/apt
...                       ...              ...
6802             Centrum-West  Entire home/apt
6803             Centrum-Oost  Entire home/apt
6805   De Baarsjes - Oud-West  Entire home/apt
6806  De Pijp - Rivierenbuurt  Entire home/apt
6808  De Pijp - Rivierenbuurt  Entire home/apt

[4774 rows x 2 columns]

In [15]:
X_n = X_n.reset_index(drop=True)

In [16]:
encoder = OneHotEncoder(drop='first')
encoder.fit(X_c)

X_c_np = encoder.transform(X_c).toarray()

X_c = pd.DataFrame(X_c_np, columns=encoder.get_feature_names_out())

X_c.shape
X_c

,neighbourhood_cleansed_Centrum-Oost,neighbourhood_cleansed_Centrum-West,neighbourhood_cleansed_De Baarsjes - Oud-West,neighbourhood_cleansed_De Pijp - Rivierenbuurt,neighbourhood_cleansed_IJburg - Zeeburgereiland,neighbourhood_cleansed_Noord-Oost,neighbourhood_cleansed_Noord-West,neighbourhood_cleansed_Oostelijk Havengebied - Indische Buurt,neighbourhood_cleansed_Other,neighbourhood_cleansed_Oud-Noord,neighbourhood_cleansed_Oud-Oost,neighbourhood_cleansed_Slotervaart,neighbourhood_cleansed_Watergraafsmeer,neighbourhood_cleansed_Westerpark,neighbourhood_cleansed_Zuid
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4770,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4772,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4773,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:

transformer = StandardScaler() 
transformer.fit(X_n) 

X_n_np = transformer.transform(X_n)
X_n_scaled = pd.DataFrame(X_n_np, columns=X_n.columns, index=X_n.index)

X_n_scaled.head()

   bedrooms  accommodates
0  0.286455      0.595485
1  0.286455     -0.096710
2  0.286455      0.595485
3 -0.751917     -0.788905
4  2.363200      0.595485

In [18]:
X=pd.merge(X_n_scaled, X_c, left_index=True, right_index=True) # concat numerical and categorical transformations
X.shape
#X.tail()

(4774, 17)

In [19]:
#train-test-split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=11)

In [20]:
#sns.displot(X_train['accommodates'])

In [22]:
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [24]:
y_pred_knn = knn.predict(X_test)

In [25]:
#EVALUATION
#R2
knn_score = knn.score(X_test, y_test)
print("The R2 of the k-NN model is {:.2f}".format(knn_score))

The R2 of the k-NN model is 0.05